<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>120752156192-6bckdih3elvu3fk3uj4v2rhlrq2u9j6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120752156192-6bckdih3elvu3fk3uj4v2rhlrq2u9j6r</string>
	<key>API_KEY</key>
	<string>AIzaSyD2LaYsK1JjYn4BCiGTu8zuCaP0r7vBdj8</string>
	<key>GCM_SENDER_ID</key>
	<string>120752156192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.osama.first</string>
	<key>PROJECT_ID</key>
	<string>flutter-caht</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-caht.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:120752156192:ios:b2508ceb6b1a098d</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-caht.firebaseio.com</string>
</dict>
</plist>